* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  margin: 0 auto;
  background-color: #d4d4d4;
}

.mainWrapper {
  width: 60%;
  margin: 0 auto;
}

.currentTable {
  background-color: white;
}

input {
  width: 100%;
  margin: 20px 0px;
  height: 30px;
  /* border-radius: 2px; */
}

table {
  width:98%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  font-size: 12px;
  font-style: italic;
  color: gray;
  font-weight: normal;
}

tr {
  border-top: 1px solid black;
  height: 4em
}

thead tr {
  border-top: none;
  border-bottom: 1px solid black;
}

tbody tr:hover {
  /* transform: scale(1);
  transition: transform .2s;
  transform-origin: center center; */
  box-shadow: 0 0 10px #ccc;
  border-style: none;
}

th:nth-child(1), td:nth-child(1) {
  text-align: left;
}

.typeColumn {
  color:orange;
  text-transform: capitalize;
}

.statusDisabled, .statusEnabled {
  padding: 1px 13px;
  border-radius: 10px;
  color: white;
}

.statusEnabled {
  background-color: green;
}

.statusDisabled {
  background-color: gray;
}

.lockImg {
  width: 20px;
}